/* General */

.cms .dashboard {
	height: 100%;
	padding-bottom: 20px;
}
.cms .dashboard-sortable {
	margin: 40px 0 0 20px; 
}

.cms .dashboard-panel-inner {
	background: #f9f9f9; 
	border: none;
	height: 312px;
	position: relative;
}

.dashboard-panel .dashboard-panel-content {
	border-left: 1px solid rgb(218, 216, 216);
	border-right: 1px solid rgb(218, 216, 216);
}

.cms .dashboard-panel-inner .dashboard-panel-header {
	padding: 13px 0 11px 47px;
	background: #728896;
	border: 1px solid #b3c0c9;
	cursor: move;
	color: #fff;
	overflow:hidden;
	border-radius: 3px 3px 0 0;
	position: relative;
	z-index: 0;
}

.dashboard-panel .configure-form {
	border-top: 3px solid #728896;
} 

.dashboard-panel.DashboardModelAdminPanel .dashboard-panel-header {
	background: #F50057;
}
.dashboard-panel.DashboardModelAdminPanel .configure-form {
	border-color: #F50057;
}

.dashboard-panel.DashboardRecentEditsPanel .dashboard-panel-header {
	background: #4A148C;
}
.dashboard-panel.DashboardRecentEditsPanel .configure-form {
	border-color: #4A148C;
} 

.dashboard-panel.DashboardGridFieldPanel .dashboard-panel-header {
	background: #1A237E;
}
.dashboard-panel.DashboardGridFieldPanel .configure-form {
	border-color: #1A237E;
} 

.dashboard-panel.DashboardWeatherPanel .dashboard-panel-header {
	background: #FF3D00;
}
.dashboard-panel.DashboardWeatherPanel .configure-form {
	border-color: #FF3D00;
} 

.dashboard-panel.DashboardQuickLinksPanel .dashboard-panel-header {
	background: #2962FF;
}
.dashboard-panel.DashboardQuickLinksPanel .configure-form {
	border-color: #2962FF;
} 

.dashboard-panel.DashboardRecentFilesPanel .dashboard-panel-header {
	background: #43A047;
}
.dashboard-panel.DashboardRecentFilesPanel .configure-form {
	border-color: #43A047;
} 

.dashboard-panel.DashboardSectionEditorPanel .dashboard-panel-header {
	background: #00796B;
}
.dashboard-panel.DashboardSectionEditorPanel .configure-form {
	border-color: #00796B;
}

.cms .dashboard-panel-inner .dashboard-panel-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 7px;
	background: rgba(255,255,255,0.6);
	border-right: 1px solid rgba(255,255,255,0.2);
	height: 26px;
}

/* Replace add text with plus due to space limitations */
.dashboard-panel-header-actions .ui-button span {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.dashboard-panel-header-actions .ui-button {
	width: 19px;
	height: 19px;
}
.dashboard-panel-header-actions .ui-button:after {
	content: '+';
	font-size: 15px;
	padding-top: 2px;
	display: block;
}

.dashboard-panel-configure-actions .ui-button .ui-button-text,
.dashboard-panel-footer-actions .ui-button .ui-button-text {
	padding: .2em 0.8em;
}
.cms .dashboard-panel-footer .dashboard-panel-toolbar {
	top: 8px;
}

.cms .dashboard-panel-footer {
	min-height: 20px;
}

.cms .dashboard-panel .dashboard-panel-content {
	height: 220px;
}

.cms .dashboard-panel-content > ul {
	margin: -10px;
}
.cms .dashboard-panel-content > ul li {
	border: 1px solid #eee;
}
.cms .dashboard-panel-content > ul a {
	padding: 3px 10px;
	font-size: 11px;
}
/* Not actually in the header anymore */
.cms .dashboard-panel-header-actions {
	position: static; 
	margin-right: 5px;
	float: left;
}

.cms .dashboard-panel-footer {
	background: #F0F4F7;
	border: 1px solid rgb(218, 216, 216);
	border-radius: 0 0 3px 3px;
}

.cms .dashboard-panel-inner .dashboard-panel-configure-actions {
	border-radius: 0 0 3px 3px;
	background: #F0F4F7;
	border: 1px solid rgb(218, 216, 216);
	border-top: none;
	box-shadow: none;
	text-align: left;
	height: 21px;
	padding: 5px 4px;
}

.cms .dashboard-panel-inner .dashboard-panel-configure-fields {
	background: #f9f9f9; 
	border: 1px solid rgb(218, 216, 216);
	height: 261px;
}
.dashboard-panel-configure-fields .field select {
	margin: 0;
}
.dashboard-panel-configure-fields .field {
	border-bottom: 0;
	margin: 0;
}

.cms .dashboard-panel-inner ul li a:hover {
	background: #F0F4F7;
	text-decoration: none;
	color: #015a96;
}

.cms .dashboard-panel-footer-actions {
	text-align: left;
	margin-left: 5px;
}

.dashboard-panel-configure-actions .ss-ui-button {
	font-size: 11px;
	padding: 0;
}

.cms .dashboard-panel-list {
	padding-bottom: 53px; /*makes up for 100% height*/
}

.DashboardSectionEditorPanel .dashboard-panel-header img {
	display: none; /* Image used doesn't fit and we can't replace it in config */
}

.cms .DashboardSectionEditorPanel .dashboard-panel-icon {
	width: 24px;
	background-image: url(../images/work.png); /* replace img */
	background-position: center;
	background-repeat: no-repeat;
}

.available-panel-icon img {
	width: 24px !important; /*override inline*/
	height: 24px !important;
}
.cms .available-panel {
	background: #F0F4F7;
	box-shadow: none;
	border: 1px solid rgb(218, 216, 216);
}

.cms .available-panel:hover {
	background: #E0E8ED;
}

.cms .ss-fancy-dropdown-options {
	border-radius: 3px;
	box-shadow: none;
}

.ss-fancy-dropdown-options a:first-child {
	border-radius: 3px 3px 0 0;
}
.ss-fancy-dropdown-options a:last-child {
	border-radius: 0 0 3px 3px;
}

.cms .dashboard-panel {
	position: relative;
}

.cms .dashboard-has-many-editor-detail-form-form {
	border-radius: 5px;
	border: 1px solid rgb(218, 216, 216);
	box-sizing: border-box;
	height: 270px;
	padding: 20px;
	background-color: #ededed;
	top: 35px;
	left: 35px;
	width: 100%;
}
.dashboard-has-many-editor-form {
	box-sizing: border-box;
}

.cms .dashboard-has-many-editor-detail-form-form .field .middleColumn {
	margin-left: 0;
	clear: both;
}

.dashboard-has-many-editor-detail-form-form .field.checkbox {
	padding-left: 0;
}

.cms .dashboard-has-many-editor {
	background: transparent;
	border: 0;
}

.cms .dashboard-has-many-editor-header {
	padding:0;
}

.cms .dashboard-has-many-editor .dashboard-sortable {
	border-top: 1px solid rgb(218, 216, 216);
	margin: 0 -10px;
}

.cms .dashboard-has-many-editor .dashboard-sortable li {
	padding:0;
	margin:0;
}
.cms .dashboard-has-many-editor .dashboard-sortable li a:first-child {
	padding: 6px 10px;
}

.cms .dashboard-panel-quick-link {
	margin: 0;
}

.cms .dashboard-panel-inner form .field.dashboardbuttonoptions .middleColumn {
	min-width: 0;
}

.cms .dashboard-button-options-btn-group a.active,
.cms .dashboard-button-options-btn-group a:hover {
	opacity: 1;
}

.cms .dashboard-button-options-btn-group a {
	opacity: 0.5;
	width: 21px;
	height: 10px;
}

.cms .dashboard-button-options-btn-group a.middle,
.cms .dashboard-button-options-btn-group a.middle:hover,
.cms .dashboard-button-options-btn-group a.middle.active  {
	background: url(../images/half.png) no-repeat;
	width: 21px;
}
.cms .dashboard-button-options-btn-group a.first,
.cms .dashboard-button-options-btn-group a.first:hover ,
.cms .dashboard-button-options-btn-group a.first.active {
	background: url(../images/quarter.png) no-repeat;
}
.cms .dashboard-button-options-btn-group a.last,
.cms .dashboard-button-options-btn-group a.last:hover,
.cms .dashboard-button-options-btn-group a.last.active {
	background: url(../images/full.png) no-repeat;
}
